USE [master]
GO
/****** Object:  Database [TrainingCenterManagementSystemDb]    Script Date: 1/4/2017 5:23:26 AM ******/
CREATE DATABASE [TrainingCenterManagementSystemDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrainingCenterManagementSystemDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TrainingCenterManagementSystemDb.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TrainingCenterManagementSystemDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TrainingCenterManagementSystemDb_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrainingCenterManagementSystemDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrainingCenterManagementSystemDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1/4/2017 5:23:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Batches]    Script Date: 1/4/2017 5:23:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Batches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Fee] [nvarchar](max) NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[CourseId] [int] NOT NULL,
	[RoomId] [int] NOT NULL,
	[InstructorId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Batches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Courses]    Script Date: 1/4/2017 5:23:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[About] [nvarchar](max) NULL,
	[Objective] [nvarchar](max) NULL,
	[Duration] [float] NOT NULL,
	[Prerequisites] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Courses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Instructors]    Script Date: 1/4/2017 5:23:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Photo] [varbinary](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[CurrentAddress] [nvarchar](max) NULL,
	[PermanentAddress] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Instructors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 1/4/2017 5:23:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.PaymentMethods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Payments]    Script Date: 1/4/2017 5:23:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Amount] [int] NOT NULL,
	[TraineeId] [int] NOT NULL,
	[PaymentMethodId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 1/4/2017 5:23:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Capacity] [int] NOT NULL,
	[RoomNo] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Rooms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TraineeBatches]    Script Date: 1/4/2017 5:23:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TraineeBatches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Discount] [int] NOT NULL,
	[Fee] [int] NOT NULL,
	[BatchId] [int] NOT NULL,
	[TraineeId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TraineeBatches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Trainees]    Script Date: 1/4/2017 5:23:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trainees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[FatherName] [nvarchar](max) NULL,
	[MotherName] [nvarchar](max) NULL,
	[Photo] [varbinary](max) NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[CurrentAddress] [nvarchar](max) NULL,
	[PermanentAddress] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Trainees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Batches] ON 

INSERT [dbo].[Batches] ([Id], [Name], [Fee], [StartDate], [EndDate], [CourseId], [RoomId], [InstructorId]) VALUES (6, N'First Batch', N'1500', CAST(N'2016-12-31T00:00:00.000' AS DateTime), CAST(N'2017-04-30T00:00:00.000' AS DateTime), 1, 3, 2)
INSERT [dbo].[Batches] ([Id], [Name], [Fee], [StartDate], [EndDate], [CourseId], [RoomId], [InstructorId]) VALUES (7, N'Second Batch', N'20000', CAST(N'2017-01-03T00:00:00.000' AS DateTime), CAST(N'2017-05-03T00:00:00.000' AS DateTime), 4, 5, 4)
SET IDENTITY_INSERT [dbo].[Batches] OFF
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([Id], [Name], [About], [Objective], [Duration], [Prerequisites]) VALUES (1, N'Course One', N'one one one', N'objective', 40, N'zero')
INSERT [dbo].[Courses] ([Id], [Name], [About], [Objective], [Duration], [Prerequisites]) VALUES (2, N'SQL', N'Structured Query Language', N'objective objective', 40, N'none')
INSERT [dbo].[Courses] ([Id], [Name], [About], [Objective], [Duration], [Prerequisites]) VALUES (3, N'PL/SQL', N'Programing Language of SQL', N'objective', 40, N'SQL')
SET IDENTITY_INSERT [dbo].[Courses] OFF
SET IDENTITY_INSERT [dbo].[Instructors] ON 

INSERT [dbo].[Instructors] ([Id], [Name], [Photo], [Email], [Phone], [CurrentAddress], [PermanentAddress]) VALUES (1, N'Instructor1', NULL, N'instructor1@gmail.com', N'108270843', N'instructor1 current address', N'instructor1 permanent address')
SET IDENTITY_INSERT [dbo].[Instructors] OFF
SET IDENTITY_INSERT [dbo].[PaymentMethods] ON 

INSERT [dbo].[PaymentMethods] ([Id], [Name]) VALUES (1, N'Cash')
SET IDENTITY_INSERT [dbo].[PaymentMethods] OFF
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([Id], [Date], [Amount], [TraineeId], [PaymentMethodId]) VALUES (3, CAST(N'2017-01-02T00:00:00.000' AS DateTime), 5000, 6, 1)
INSERT [dbo].[Payments] ([Id], [Date], [Amount], [TraineeId], [PaymentMethodId]) VALUES (4, CAST(N'2017-01-03T00:00:00.000' AS DateTime), 20000, 4, 1)
INSERT [dbo].[Payments] ([Id], [Date], [Amount], [TraineeId], [PaymentMethodId]) VALUES (5, CAST(N'2017-01-03T00:00:00.000' AS DateTime), 2000, 4, 1)
SET IDENTITY_INSERT [dbo].[Payments] OFF
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([Id], [Capacity], [RoomNo]) VALUES (1, 20, N'Lab-301')
INSERT [dbo].[Rooms] ([Id], [Capacity], [RoomNo]) VALUES (2, 25, N'Lab-2')
INSERT [dbo].[Rooms] ([Id], [Capacity], [RoomNo]) VALUES (3, 25, N'Lab-402')
SET IDENTITY_INSERT [dbo].[Rooms] OFF
SET IDENTITY_INSERT [dbo].[TraineeBatches] ON 

INSERT [dbo].[TraineeBatches] ([Id], [Discount], [Fee], [BatchId], [TraineeId]) VALUES (4, 20, 1200, 6, 4)
SET IDENTITY_INSERT [dbo].[TraineeBatches] OFF
SET IDENTITY_INSERT [dbo].[Trainees] ON 

SET IDENTITY_INSERT [dbo].[Trainees] OFF
/****** Object:  Index [IX_CourseId]    Script Date: 1/4/2017 5:23:27 AM ******/
CREATE NONCLUSTERED INDEX [IX_CourseId] ON [dbo].[Batches]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_InstructorId]    Script Date: 1/4/2017 5:23:27 AM ******/
CREATE NONCLUSTERED INDEX [IX_InstructorId] ON [dbo].[Batches]
(
	[InstructorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoomId]    Script Date: 1/4/2017 5:23:27 AM ******/
CREATE NONCLUSTERED INDEX [IX_RoomId] ON [dbo].[Batches]
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PaymentMethodId]    Script Date: 1/4/2017 5:23:27 AM ******/
CREATE NONCLUSTERED INDEX [IX_PaymentMethodId] ON [dbo].[Payments]
(
	[PaymentMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TraineeId]    Script Date: 1/4/2017 5:23:27 AM ******/
CREATE NONCLUSTERED INDEX [IX_TraineeId] ON [dbo].[Payments]
(
	[TraineeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BatchId]    Script Date: 1/4/2017 5:23:27 AM ******/
CREATE NONCLUSTERED INDEX [IX_BatchId] ON [dbo].[TraineeBatches]
(
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TraineeId]    Script Date: 1/4/2017 5:23:27 AM ******/
CREATE NONCLUSTERED INDEX [IX_TraineeId] ON [dbo].[TraineeBatches]
(
	[TraineeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Batches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Batches_dbo.Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Batches] CHECK CONSTRAINT [FK_dbo.Batches_dbo.Courses_CourseId]
GO
ALTER TABLE [dbo].[Batches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Batches_dbo.Instructors_InstructorId] FOREIGN KEY([InstructorId])
REFERENCES [dbo].[Instructors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Batches] CHECK CONSTRAINT [FK_dbo.Batches_dbo.Instructors_InstructorId]
GO
ALTER TABLE [dbo].[Batches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Batches_dbo.Rooms_RoomId] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Batches] CHECK CONSTRAINT [FK_dbo.Batches_dbo.Rooms_RoomId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Payments_dbo.PaymentMethods_PaymentMethodId] FOREIGN KEY([PaymentMethodId])
REFERENCES [dbo].[PaymentMethods] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_dbo.Payments_dbo.PaymentMethods_PaymentMethodId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Payments_dbo.Trainees_TraineeId] FOREIGN KEY([TraineeId])
REFERENCES [dbo].[Trainees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_dbo.Payments_dbo.Trainees_TraineeId]
GO
ALTER TABLE [dbo].[TraineeBatches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TraineeBatches_dbo.Batches_BatchId] FOREIGN KEY([BatchId])
REFERENCES [dbo].[Batches] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TraineeBatches] CHECK CONSTRAINT [FK_dbo.TraineeBatches_dbo.Batches_BatchId]
GO
ALTER TABLE [dbo].[TraineeBatches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TraineeBatches_dbo.Trainees_TraineeId] FOREIGN KEY([TraineeId])
REFERENCES [dbo].[Trainees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TraineeBatches] CHECK CONSTRAINT [FK_dbo.TraineeBatches_dbo.Trainees_TraineeId]
GO
USE [master]
GO
